.card {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 275px;
  width: 375px;
  color: #8C52FF;
  background-color: aliceblue;
}

.card:hover{
  transform: scale(1.2);
  transition: 400ms;
  box-shadow: 5px 5px 5px #FF2768
}

button {
  color: aliceblue;
  background-color: #8C52FF;
  margin-left: 10px;
}

button:hover{
  background-color: #FF2768;
  color: aliceblue;
  transform: scale(1.2);
  transition: 400ms;
  box-shadow: 5px 5px 5px aliceblue
}

@media screen and (max-width: 480px) {
  .card {
    width: 450px;
    margin-left: 60px;
    background-color: aliceblue;
    font-size: x-large;
  }

  h5 {
    font-size: xx-large;
  }

  h6 {
    font-size: x-large;
  }

  .card:active {
    background-color: #FF2768;
    color: aliceblue;
    transform: scale(1.2);
    transition: 400ms;
    box-shadow: 5px 5px 5px aliceblue
  }
}
